.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 270px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    position: relative;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    .image {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  
    .favoriteButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  
    .cardBottom {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .chefName {
        font-weight: bold;
      }
  
      .foodName {
        font-size: 14px;
        color: gray;
      }
    }
  }