.mainpage {
    width: 100%;
    top: 0px;
    position: relative;
    background-color: #f9f5f6;
    height: 3123px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: Outfit;
}

.hero-section {
    width: 100%;
    position: relative;
    height: 532px;
    top: 194px;
    left: 321px;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Outfit;
}

.header {
    position: absolute;
    top: 100px;
    left: 0px;
    font-size: 60px;
    display: inline-block;
    width: 525px;
}

.description {
    position: absolute;
    top: 265px;
    left: 0px;
    font-size: 18px;
    display: inline-block;
    width: 525px;
}

.rectangle {
    position: absolute;
    top: 400px;
    left: 41px;
    border-radius: 15px;
    background-color: #d9d9d9;
    width: 165px;
    height: 41px;
}

.create-acc-text {
    position: absolute;
    top: 407px;
    left: 53px;
    font-weight: 600;
    display: inline-block;
    color: #000;
    width: 165px;
}

.appIcon1 {
    position: absolute;
    top: 0px;
    left: 540px;
    border-radius: 15px;
    width: 525px;
    height: 532px;
    object-fit: cover;
}

.line-div {
    position: absolute;
    top: 851px;
    left: 321px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 1065px;
    height: 1px;
}